body {
  background-color: #fff;
  text-align: center;
  color: darkturquoise;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0 auto;
  width: 90%;
}
main {
  width: 100%;
}
a {
  text-decoration: none;;
  color: darkturquoise;
}
input {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.btn {
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: darkturquoise;
  color: #fff;
  overflow-wrap: break-word;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

// トップページ
.top-img {
  width: 60%;
}

.start {
  border-bottom: 8px solid indianred;
  border-radius: 100vh;
  margin: 1rem 0 3rem;
  padding: 1.5rem 2.5rem;
  display: inline-block;
  background-color: darkturquoise;
  color: #fff;
}

.logo-tx {
  font-size: 5%;
}

// 季節選択
.seasons {
  display: inline-flex;
  justify-content: space-between;

  .season {
    padding: 3rem;
    margin: 0.3rem;
    font-size: 2rem;
    border-radius: 10%;
    border: none;
    border-bottom: 8px solid indianred;
    background-color: darkturquoise;
    color: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
}

// 気分選択
.meanings {
  display: inline-flex;
  justify-content: space-between;

  .meaning {
    padding: 1rem;
    margin: 0.1rem;
    font-size: 1rem;
    border-radius: 10%;
    border: none;
    border-bottom: 8px solid indianred;
    background-color: darkturquoise;
    color: #fff;
    overflow-wrap: break-word;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
}

// 花紹介
.flower-name {
  background-color: darkturquoise;
  color: #fff;
}
.flower-img {
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
}

// 記録入力
.table {
  border: 3px dashed darkturquoise;
  margin: 1rem 0;
  border-radius: 1rem;

  .table-el {
    margin: 0.5rem 0;
  }
}

// 記録一覧
.card {
  position: relative;
  margin: 2rem 0 3rem;

  .created-day {
    position: absolute;
    top: -2rem;
    left: -0.5rem;
    background-color: darkturquoise;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    line-height: 4.5rem;
    height: 4.5rem;
    width: 4.5rem;
  }
}