body {
  background-color: #fff9dc;
  text-align: center;
  color: lightcoral;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0 auto;
  width: 90%;
}
main {
  width: 100%;
}
a {
  text-decoration: none;;
  color: lightcoral;
}
input {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

// トップページ
.top-img {
  width: 60%;
}

.start {
  border-bottom: 8px solid indianred;
  border-radius: 100vh;
  margin: 1rem 0 3rem;
  padding: 1.5rem 2.5rem;
  display: inline-block;
  background-color: lightcoral;
  color: #fff;
}

.logo-tx {
  font-size: 5%;
}

// 季節選択
.seasons {
  display: inline-flex;
  justify-content: space-between;

  .season {
    padding: 3rem;
    margin: 0.3rem;
    font-size: 2rem;
    border-radius: 10%;
    border: none;
    border-bottom: 8px solid indianred;
    background-color: lightcoral;
    color: #fff;
  }
}

// 気分選択
.meanings {
  display: inline-flex;
  justify-content: space-between;

  .meaning {
    padding: 1rem;
    margin: 0.1rem;
    font-size: 1rem;
    border-radius: 10%;
    border: none;
    border-bottom: 8px solid indianred;
    background-color: lightcoral;
    color: #fff;
    overflow-wrap: break-word;
  }
}

// 花紹介
.flower-name {
  background-color: lightcoral;
  color: #fff;
}
.flower-img {
  width: 100%;
}